---
import Layout from '../layouts/Layout.astro';
import ExpensesChart, { DayExpense } from '../components/ExpensesChart.astro';

const expensesObject: DayExpense[] = [
  {
    day: 'mon',
    amount: 17.45,
  },
  {
    day: 'tue',
    amount: 34.91,
  },
  {
    day: 'wed',
    amount: 52.36,
  },
  {
    day: 'thu',
    amount: 31.07,
  },
  {
    day: 'fri',
    amount: 23.39,
  },
  {
    day: 'sat',
    amount: 43.28,
  },
  {
    day: 'sun',
    amount: 25.48,
  },
];
---

<Layout title="Welcome to Astro.">
  <main>
    <ExpensesChart
      balance={921.48}
      currentDay="wed"
      currentMonthExpenses={478.33}
      expensesObject={expensesObject}
      pastMonthExpenses={467.11}
    />
  </main>
</Layout>

<style>
  main {
    height: 100%;
    display: grid;
  }
</style>
