---
export type WeekDay = 'mon' | 'tue' | 'wed' | 'thu' | 'fri' | 'sat' | 'sun';

export interface DayExpense {
  day: WeekDay;
  amount: number;
}

export interface Props {
  expensesObject: DayExpense[];
  currentDay: WeekDay;
  currentMonthExpenses: number;
  class?: string;
  balance?: number;
  pastMonthExpenses?: number;
}

const {
  balance,
  class: className,
  currentDay,
  currentMonthExpenses,
  expensesObject,
  pastMonthExpenses,
} = Astro.props;

const totalChartHeight = 150;

const getPercentageIncrease = (c: number, p: number) =>
  (((c - p) / p) * 100).toFixed(1);

const maxExpensesDay = Math.max(...expensesObject.map(e => e.amount));

expensesObject.map(e => {
  //percent respect to the max expenses day p/t = x/100
  e.amount = (e.amount * 100) / maxExpensesDay;
  //pixels respect to the max pixels set x/t = %/100
  e.amount = Number(((e.amount * totalChartHeight) / 100).toFixed(1));
  return e;
});
---

<section class:list={['expenses_chart_section', className]}>
  {
    balance ? (
      <header class="expenses_chart_section__header">
        <h2 class="expenses_chart_section__header_text">My balance</h2>
        <p class="expenses_chart_section__header_balance">{`$${balance}`}</p>
      </header>
    ) : null
  }

  <div class="expenses_chart_section__chart_container">
    <h1 class="expenses_chart_section__chart_container_header">
      Spending - Last 7 days
    </h1>
    <div class="expenses_chart_section__chart_container_chart">
      {
        expensesObject.map(e => (
          <div class="chart_slice">
            <div
              class:list={['chart_bar', { current_day: e.day === currentDay }]}
              style={{ height: `${e.amount}px` }}
            />
            <p class="chart_label">{e.day}</p>
          </div>
        ))
      }
    </div>
    <footer class="expenses_chart_section__footer">
      <div class="expenses_chart_section__footer_this_month">
        <p class="expenses_chart_section__footer_this_month_text">
          Total this month
        </p>
        <p class="expenses_chart_section__footer_this_month_expense">
          {`$${currentMonthExpenses}`}
        </p>
      </div>
      {
        pastMonthExpenses ? (
          <div class="expenses_chart_section__footer_prev_month">
            <p class="expenses_chart_section__footer_prev_month_expense">
              {`${getPercentageIncrease(
                currentMonthExpenses,
                pastMonthExpenses,
              )}%`}
            </p>
            <p class="expenses_chart_section__footer_prev_month_text">
              from last month
            </p>
          </div>
        ) : null
      }
    </footer>
  </div>
</section>

<style>
  .expenses_chart_section {
    align-self: top;
    padding-top: 67px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .expenses_chart_section__header {
    background-image: url(/images/logo.svg);
    background-repeat: no-repeat;
    background-position: right 8.5% top 49%;
    background-size: 61px;
    background-color: var(--soft-red);
    border-radius: 10px;
    color: var(--very-pale-orange);
    padding-left: 20px;
    height: 97px;
  }

  .expenses_chart_section__header_text {
    padding-top: 17px;
    font-size: medium;
    font-weight: 400;
    letter-spacing: -0.6px;
  }

  .expenses_chart_section__header_balance {
    padding-top: 0.5px;
    font-size: x-large;
    font-weight: 700;
  }

  .expenses_chart_section__chart_container {
    background-color: var(--very-pale-orange);
    border-radius: 10px;
    margin-top: 16px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .expenses_chart_section__chart_container_header {
    padding-top: 21px;
    font-size: x-large;
    color: var(--very-dark-brown);
    margin-bottom: 17px;
  }

  .expenses_chart_section__chart_container_chart {
    height: 235px;
    border-bottom: 2px solid var(--cream);
    display: flex;
    justify-content: space-between;
  }

  .chart_slice {
    place-self: end;
  }
  .chart_bar {
    background-color: var(--soft-red);
    border-radius: 5px;
  }

  .current_day {
    background-color: var(--cyan);
  }
  .chart_label {
    min-width: 33px;
    padding-bottom: 22px;
    padding-top: 10px;
    font-size: small;
    text-align: center;
    color: var(--dark-brown);
  }

  .expenses_chart_section__footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 112px;
  }

  .expenses_chart_section__footer_this_month {
    margin-top: 23px;
    place-self: start;
    display: flex;
    flex-direction: column;
    gap: 1px;
  }

  .expenses_chart_section__footer_this_month_text {
    color: var(--dark-brown);
    font-size: smaller;
  }
  .expenses_chart_section__footer_this_month_expense {
    color: var(--very-dark-brown);
    font-size: 30px;
    font-weight: 700;
    text-align: left;
  }

  .expenses_chart_section__footer_prev_month {
    place-self: start end;
    text-align: right;
    margin-top: 47px;
    display: flex;
    flex-direction: column;
    gap: 3px;
  }

  .expenses_chart_section__footer_prev_month_expense {
    color: var(--very-dark-brown);
    font-size: medium;
    font-weight: 700;
    line-height: 18px;
  }
  .expenses_chart_section__footer_prev_month_text {
    line-height: 18px;
    color: var(--dark-brown);
    font-size: smaller;
  }
</style>
